name: CI

on:
  pull_request:
  push:
    paths-ignore:
      - "**/*.md"
      - "**/*.org"

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        emacs_version:
          - '26.3'
          - '27.2'
          - '28.2'
          - '29.4'
          - snapshot
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Emacs
        uses: purcell/setup-emacs@master
        with:
          version: ${{ matrix.emacs_version }}

      - name: Setup Eldev
        uses: emacs-eldev/setup-eldev@v1

      - name: Install extra dependencies
        run: |
          sudo apt-get update
          sudo apt-get install aspell

      - name: Install dependencies
        run: eldev prepare

      - name: Lint
        run: eldev lint

      - name: Compile
        run: eldev compile --warnings-as-errors

      - name: Test
        run: eldev test
